@page
@using Microsoft.Extensions.Localization
@using RemittanceManagement.Localization
@using RemittanceManagement.Web.Pages.RemittanceManagement
@model RemittanceManagement.Web.Pages.RemittanceManagement.IndexModel
@inject IStringLocalizer<RemittanceManagementResource> L

@{
}
<h1>RemittanceManagement</h1>
<p>@L["SamplePageMessage"]</p>
