################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroserviceDemo/FileContentIndex/1d59b01b-6c3d-4f49-b88e-4318c85d383c.vsidx
/.vs/MicroserviceDemo/FileContentIndex/61cf877a-17f8-416e-97c6-58f6cd1540dc.vsidx
/.gitignore
