@page "/CurrencyManagment"
@using Microsoft.Extensions.Localization
@using global::CurrencyManagment.Localization
@inject IStringLocalizer<CurrencyManagmentResource> L
@{
}
<h1>CurrencyManagment</h1>
<p>@L["SamplePageMessage"]</p>