@page "/CustomerManagement"
@using Microsoft.Extensions.Localization
@using global::CustomerManagement.Localization
@inject IStringLocalizer<CustomerManagementResource> L
@{
}
<h1>CustomerManagement</h1>
<p>@L["SamplePageMessage"]</p>