@page "/RemittanceManagement"
@using Microsoft.Extensions.Localization
@using global::RemittanceManagement.Localization
@inject IStringLocalizer<RemittanceManagementResource> L
@{
}
<h1>RemittanceManagement</h1>
<p>@L["SamplePageMessage"]</p>